body{
  background-color: yellow;
  height: 100vh;
  width: auto;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin: 0;
  overflow: hidden;
}

.mainArea{
  background: #887722;
  float: middle;
  margin: 5%;
}

embed-container{
  background: #677a24;
  float: middle;
  margin: 5%;
}
