/* general */
html {
	height: 100%;
}
*,
*:before,
*:after{
	box-sizing: inherit;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #7b7b7b;
	background: #ffffff;
	height: 100%;
	box-sizing: border-box;
	background: url('../img/bg.png') center/cover repeat;
}
a{
	color: #fff;
	text-decoration: underline;
}
ul, li,
ul li{
	list-style: none;
	margin: auto;
}
li{
  margin: 40px 40% 0;
}
ul{
	margin-bottom: 10px;
	padding-left: 0;
}

h1, h2, h3, h4, p{
	margin: 0px;
	padding: 0px;
	color: #fff;
	text-align: -webkit-center;
	text-align: center;
}
input[type='text'],input[type='email'],input[type='password'],input[type='number'],textarea {font-size:16px;}

::-webkit-input-placeholder { font-size:15px; letter-spacing: -0.05em; }
::-moz-placeholder { font-size:15px; letter-spacing: -0.05em; }
:-ms-input-placeholder { font-size:15px;  letter-spacing: -0.05em; }
input:-moz-placeholder { font-size:15px;  letter-spacing: -0.05em; }

/* header */
header {
	height: 73px;
	padding-top: 11px;
	background: transparent;
}
header .logo{
	display: block;
	height: 75px;
	background: url(../img/logo2.png) no-repeat;
	max-width: 152px;
	margin: -12px auto 0 auto;
}

/* content */
.content {
	position: relative;
}
.headliner {
  margin: 16px auto -16px auto;
  font-weight: 400;
}
.content input[type=radio]{
	display: none;
}
.content input[type=radio] + label{
	border-radius: 5px;
	background: #ffffff;
	border-radius: 5px;
	font-weight: 600;
	height: 44px;
  color: #646569;
	line-height: 44px;
	font-size: 18px;
	display: block;
}
.content input[type=radio]:checked +label{
  background: #31a45c;
	border: none;
  color: #ffffff;
}
.steps .step {
	text-align: center;
	height: 260px;
}
.steps .step h2{
	font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin: 20px 0 0;
  line-height: 1.6;
}
.steps .first_step.step p {
	padding-top: 10px;
	box-sizing: border-box;
}
.steps .buttons ul li {
	display: inline-block;
  margin: 16px 0 6px 0;
  width: 60%;
}
.steps .button ul li .wide_label{
	width: -webkit-fill-available;
}
.steps.step-5 .wide_label{
	visibility: hidden;
	z-index: -999;
}
.steps.step-5 #loginLink{
	display: none;
}
.steps .headline > p {
	font-size: 20px;
	line-height: 20px;
	height: 39px;
}
#email:focus,
#password:focus,
#cta-next:focus,
#btn_submit:focus{
	outline: none;
}
button::-moz-focus-inner{
  border: 0;
}
/* navigation */
.steps .step{
	display: none;
}
.steps.step-1 .step.step-1,
.steps.step-2 .step.step-2,
.steps.step-3 .step.step-3,
.steps.step-4 .step.step-4,
.steps.step-5 .step.step-5{
	display: block;
}

/* progress bar */
.progress{
	height: 22px;
	margin-top: 50px;
	text-align: center;
	display: flex;
	display: -ms-flexbox;
	justify-content: center;
}
.progress span{
	height: 21px;
	width: 21px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: relative;
	transition: background-color .4s ease;
	color: #fff;
}
.progress span + span{
	margin-left: 40px;
}
.progress span + span::before{
	content: "";
	height: 2px;
	width: 32px;
	background-color: #ffffff;
	position: absolute;
	left: -38px;
	top: 8px;
}
/* Bullets  */
.progress .bullet.active{
	background-color: #4b64b4;
	border: 2px solid #4b64b4;
}
.progress .bullet.done{
	background: url(../img/check2.png) left 0px no-repeat;
	float: left;
	background-color: #4b64b4;
	border: 2px solid #4b64b4;
	width: 21px;
	height: 21px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.progress .bullet.active:not(:first-child):before,
.progress .bullet.done:not(:first-child):before{
	background-color: #4b64b4;
}

/* End of Steps */
.buttons li #nextBox{
	width: -webkit-fill-available;
}
.next{
	background: #4b64b4;
  border-radius: 5px;
  font-weight: 400;
  height: 50px;
  color: #fff;
  line-height: 44px;
  font-size: 20px;
  display: block;
  width: 85%;
	margin: 10px auto;
	border: none;
}
.member-login{
	text-align: center;
	margin-bottom: 10px;
}
.steps.step-5 .member-login{
	margin-bottom: 26px;
}
.form {
	background-color: transparent;
	padding: 15px 20px;
	height: 260px;
}
.steps .step-5 .form >  p {
	font-size: 16px;
	margin: 10px 0 25px;
	text-align: center;
	color: #fff;
}
#legal{
	margin-top: 2px;
  float: left;
  width: 11px;
}

.form input[type=email],
.form input[type=password] {
	height: 45px;
	width: 100%;
  font-family: 'Open Sans', sans-serif;
	padding: 0 0 0 8px;
	margin-bottom: 8px;
	opacity: 1;
	background: #fff;
	border: 2px solid #65666e;
	border-radius: 3px;
}
.form input[type=password]{
	background-position: 10px -46px;
}
.form li.terms label {
	color: #fff;
  text-align: left;
  font-size: 10px;
  float: left;
  margin-left: 10px;
  margin-bottom: 20%;
  width: 89%;
}
.form li.terms a {
	text-decoration: underline;
}

.form #btn_submit {
	background: #4b64b4;
	border-radius: 5px;
	font-weight: 400;
	height: 45px;
	color: #fff;
	line-height: 42px;
	font-size: 20px;
	display: block;
	width: 100%;
	margin: 20px auto 25px;
	border: none;
	font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 1px 0px 0px rgba(18, 17, 12, 1.0);
  text-decoration: none;
  font-style: normal;
	z-index: 40;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* footer */
.trust{
	text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 7px;
}
.icon_trust1{
  background: url(../img/sign.png) no-repeat scroll 0 0 #0000;
  height: 48px;
  width: 120px;
}
.icon_trust2{
	background: url(../img/sign2.png) no-repeat scroll 0 0 #0000;
	height: 48px;
  width: 46px;
}
.benefit{
	margin-bottom: 0.7em;
}
.benefits{
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
	color: #fff;
	background: #30333c;
	width: 100%;
	padding: 1em 0px 1em 0px;
}
.left_benefit{
	width: 35%;
	margin-left: 0.9em;
}
.mid_benefit{
	width: 30%;
}
.right_benefit{
	width: 34%;
	margin-right: 0.5em;
}
.benefit .icon1 {
  display: inline-block;
	background: url(../img/icon_member.png) no-repeat 0 0px;
	width: 50px;
  height: 30px;
}
.benefit .icon2 {
	display: inline-block;
  background: url(../img/icon_gender.png) no-repeat 0 0px;
  width: 50px;
  height: 30px;
}
.benefit .icon3 {
  display: inline-block;
	background: url(../img/icon_heart.png) no-repeat 0 0px;
	width: 65px;
  height: 30px;
}
.benefit h2 {
	font-size: 11px;
	font-weight: normal;
}

/* error */
#errors-overlay {
  display: none;
  background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 10;
	height: 100%;
	width: 100%;
	left: 0;
  top: 0;
}
#errors{
	display: none;
	position: absolute;
	left: 50%;
	font-weight: 600;
	top: 30%;
	width: 84%;
	margin-left: -42%;
	line-height: 25px;
	z-index: 20;
	padding: 3px;
	text-align: -webkit-left;
	padding-left: 8px;
	color: #AA302F;
	border: 2px solid #aa302f;
	background: #f0efef;
	border-radius:5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-box-shadow:    2px 2px 5px 0px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         2px 2px 5px 0px rgba(0, 0, 0, 0.6);
}
#error_step,
#error_password,
#error_email,
#error_agb{
  display: none;
  color:#800;
	font-size: 16px;
}
#error_step{
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
