body{
  background-color: #66ffb3;
  height: 100vh;
  width: auto;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin: 0;
  overflow: hidden;
}

.mainArea{
  background: #66ffb3;
  float: middle;
  margin: 5%;
}

embed-container{
  background: #00b359;
  float: middle;
  margin: 5%;
}
