body:before, body:after{
  content: "";
  position: fixed;
  background: #212729;
  left: 0;
  right: 0;
  height: 10px;
}
body:before{
  top: 0;
}
body:after{
  bottom: 0;
}

html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y:hidden;
  border-left: 10px solid #212729;
  border-right: 10px solid #212729;
  background-color: #007070;
  font-family: 'PT Sans', sans-serif;
}

#logo{
  width: 100%;
  height: auto%;
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mainArea{
  background: #009080;
  text-align: center;
  padding-top: 1px;
}

.embed-container{
  display: grid;
  grid: repeat(3, 28%) / auto-flow 40%;
  background: #008080;
  text-align: left;
  margin: auto;
  border: 2px solid black;
  height: 50vh;
  width: 50%;
  overflow-y:hidden;
}

.embed-container > div{
  background-color: #008080;
}

.agreement{
  padding-bottom: 7%;
  padding-top: 2%;
}

.form-horizontal{
	content float: middle;
}

input[type="date"]{
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-left: 3rem;
}

input[type="text"]{
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-left: 3rem;
}

input::-webkit-color-swatch {
    border: none;
}

#genderCheck{
  margin-left: 3rem;
}

#plz{
	width: 3rem;
}

#colorWell{
	margin-inline-start: 48px;
    border: none;
    padding: 0px 0px;
    width: 70px;
    height: 40px;
}

#eye_color{
	margin-inline-start: 48px;
    width: 90%;
}

h1, h2, h3 ,h4{
  padding-top: 0px;
  margin: 0.5rem 0;
}

h3{
  margin-left: 3rem;
  margin-top: 1rem;
}

h4{
  font-size: 2rem;
}

p{
  font-size: 2rem;
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
}
